spring:
  datasource:
    username: YOUR_DB_USERNAME
    password: YOUR_DB_PASSWORD
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: YOUR_GOOGLE_CLIENT_ID
            client-secret: YOUR_GOOGLE_CLIENT_SECRET

jwt:
  secret: YOUR_JWT_SECRET_MIN_32_CHARS_LONG

cors:
  allowed-origins: http://localhost:3000

app:
  oauth2:
    redirect-uri: http://localhost:3000/oauth2/callback
  cookie:
    secure: false
