AWS_PROFILE=default
LAW_OPEN_API_OC=YOUR_LAW_OPEN_API_OC
LAW_OPEN_API_QUERY=근로계약
LAW_OPEN_API_PRECEDENT_KEYWORDS=근로,노동,계약,임대차,전세,월세
EASYLAW_LIMIT=600
KNOWLEDGE_BASE_ID=YOUR_KNOWLEDGE_BASE_ID
DATA_SOURCE_ID=YOUR_DATA_SOURCE_ID
